.redborder {
    border: 0.1rem solid red;
}

.main-card {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    margin-top: 1rem;
}

.profile-name {
    display: grid;
    grid-template-columns: 5rem 30%;
   
}

.profile {
    width: 5rem;
    height: 5rem;
}

.name {
    width: 7rem;
    height: 1rem; 
    margin-top: 2rem;
    margin-left: 1rem;
}

.unfriend {
    width: 7rem;
    height: 1rem;
    margin-top: 1rem;
}